<section class="relative py-20 z-100">
  <div class="container mx-auto px-4">
    <div class="text-center mb-16">
      <span
        class="inline-flex items-center  justify-center px-3 py-1 text-xl rounded-full border border-[#00cc88]/30 bg-[#00cc88]/5 font-medium mb-4">
        <i data-lucide="help-circle" class="mr-2 text-xl text-[#00cc88] ri-questionnaire-fill"></i>
        <span>FAQ</span>
      </span>
      <h2 class="text-3xl md:text-4xl font-bold mb-6">{{data().title}}</h2>
      <p class="text-gray-400 max-w-2xl mx-auto">
        Trouvez les réponses aux questions les plus courantes sur l'ENSET CHALLENGE 2026.
      </p>
    </div>

    <div class="max-w-3xl mx-auto">
      <div class="space-y-4">
        @for (item of data().questions; track $index) {
        <enset-qa [data]="item" [index]="$index+1" />
        }
      </div>
    </div>
  </div>
</section>