<div class="max-w-screen mt-30 lg:mt-0">
  <enset-hero id="hero" class="bg-slate-950 text-white" [data]="data.hero" />
  <enset-about id="about" [data]="data.about" />
  <enset-competition id="competition" [data]="data.competition" />
  <enset-planning id="timeline" [data]="data.timeline" />
  <enset-timeline id="agenda" [data]="data.agenda" />
  <enset-sponsor id="sponsor" [data]="data.sponsors" />
  <enset-speaker id="speaker" />
  <enset-team id="teams" [data]="data.team" />
  <enset-advisor id="advisor" [data]="data.advisor" />
  <enset-faq id="faq" [data]="data.faq" />
</div>
